/*! HTML5 Boilerplate v7.1.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 1.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
:root {
	--animate-delay: 0.3s !important;
}
html {
	color: #222;
	line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
	background: #b3d4fc;
	text-shadow: none;
}

::selection {
	background: #b3d4fc;
	text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
	vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
	resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
	margin: 0.2em 0;
	background: #ccc;
	color: #000;
	padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* Font setup */

/* Light */
@font-face {
	font-family: "Poppins-ExtraLight";
	src: url("../fonts/poppins/Poppins-ExtraLight.ttf");
	font-weight: 200;
	font-style: normal;
}

/* Light */
@font-face {
	font-family: "Poppins-Light";
	src: url("../fonts/poppins/Poppins-Light.ttf");
	font-weight: 300;
	font-style: normal;
}

/* Regular */
@font-face {
	font-family: "Poppins-Regular";
	src: url("../fonts/poppins/Poppins-Regular.ttf");
	font-weight: 400;
	font-style: normal;
}

/*Medium */
@font-face {
	font-family: "Poppins-Medium";
	src: url("../fonts/poppins/Poppins-Medium.ttf");
	font-weight: 500;
	font-style: normal;
}

/* SemiBold*/
@font-face {
	font-family: "Poppins-SemiBold";
	src: url("../fonts/poppins/Poppins-SemiBold.ttf");
	font-weight: 600;
	font-style: normal;
}

/* Bold*/
@font-face {
	font-family: "Poppins-Bold";
	src: url("../fonts/poppins/Poppins-Bold.ttf");
	font-weight: 700;
	font-style: normal;
}

/*ExtraBold*/
@font-face {
	font-family: "Poppins-ExtraBold";
	src: url("../fonts/poppins/Poppins-ExtraBold.ttf");
	font-weight: 800;
	font-style: normal;
}

/*Black*/
@font-face {
	font-family: "Poppins-Black";
	src: url("../fonts/poppins/Poppins-Black.ttf");
	font-weight: 900;
	font-style: normal;
}

/* Custom class */
button:focus {
	outline: none;
	border: 0;
}
body {
	font-family: "Poppins", sans-serif;
	line-height: 1.5;
	font-size: 100%;
	font-weight: normal;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0px;
}
a:hover {
	text-decoration: none;
}
/* header section area 
----------------------------
*/
.header__section {
	box-shadow: 0px 0px 7px 7px #dfdfdf7a;
	padding: 35px 0px;
	position: fixed;
	z-index: 99;
	background-color: #ffffff;
	height: 132px;
}
.menu_btn {
	border: 0;
	background-color: transparent;
	text-transform: capitalize;
	font-weight: 500;
	color: #1b1b2f;
	cursor: pointer;
}
.menu_btn.active {
	color: #e43f5a;
}
/* side menu bar area desing 
-----------------------------
*/
.side__menu_section {
	height: 100%;
	background-color: #ffffff;
	z-index: 100;
	right: 0;
	padding: 30px;
	position: fixed;
	width: 250px;
	margin-top: 132px;
	transform: translateX(270px);
	transition: transform 250ms ease-in-out;
	background-color: #ffffff;
	box-shadow: 0px 17px 7px 7px #dfdfdf7a;
}
.side__menu_section.active {
	transform: translateX(0px);
}
/* input[type="checkbox"]:checked ~ #sidebarMenu {
	transform: translateX(-100px);
} */

html[dir="rtl"] .side__menu_section.active {
	transform: translateX(0px);
}
html[dir="rtl"] .side__menu_section {
	height: 100%;
	background-color: #ffffff;
	z-index: 100;
	left: 0;
	padding: 30px;
	position: fixed;
	width: 250px;
	margin-top: 132px;
	right: unset;
	transform: translateX(-280px);
	transition: transform 250ms ease-in-out;
}
.side__menu_section ul {
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	padding: 0px;
	list-style: none;
}
.side__menu_section ul li {
}
.side__menu_section ul li a:hover {
	color: #e43f5a;
}
.side__menu_section ul li a {
	display: block;
	color: #1f4068;
	text-transform: capitalize;
	text-align: right;
	font-family: "Poppins-Medium";
	padding-right: 10px;
	margin: 10px 0px;
	transition: 0.3s all;
}
html[dir="rtl"] .side__menu_section ul li a {
	text-align: left;
	border-right: unset;
	padding-left: 10px;
	padding-right: unset;
}

/* hero section design 
------------------------

*/

#hero {
}
.hero__contents_wrapper {
	padding: 0px 0px;
}
.hero__section .container {
	position: relative;
}
.hero__section {
	padding-bottom: 100px;
	position: relative;
	padding-top: 132px;
}
.hero__section.section__bg_img {
	background-image: url("../img/Ellipse\ 49.png");
	background-position: bottom;
	background-size: cover;
	background-repeat: no-repeat;
}
.hero__section_image {
}
.hero_heading {
	font-weight: 700;
	font-family: "Poppins-Bold";
	text-transform: initial;
}
.hero_heading {
	color: #e43f5a;
}
.hero_heading span {
	color: #1f4068;
}
.feather_image_container {
	width: 100px;
	height: 100px;
	border: 1px solid #000;
	line-height: 100px;
	margin: 25px auto;
	border-radius: 50%;
}
.feather__image {
}
.hero__sub_heading {
	color: #1f4068;
	font-size: 18px;
	text-transform: inherit;
}

/* companies details section 
---------------------------
*/
.company__section {
	padding: 100px 0px;
	margin-bottom: 50px;
	background-color: #fff;
	box-shadow: 0px 15px 9px -11px #f8f8f8;
}
.section__title h2 {
	color: #162447;
	font-family: "Poppins-Medium";
}
.company_title {
}
.company_title h2 {
}
.text_color {
	color: #e43f5a;
}
#company .title__line_color {
	background-color: #191b20;
}
.title__line {
	height: 5px;
	display: inline-block;
	position: relative;
	top: -8px;
	left: -15px;
}
html[dir="rtl"] .title__line {
	height: 5px;
	display: inline-block;
	position: relative;
	top: -8px;
	left: 15px;
}
.company__single_wizard {
	box-shadow: 0px 0px 7px 2px #dfdfdf;
	position: relative;
}
.section__color_one::after {
	position: absolute;
	content: "";
	top: 0;
	left: 0;
	width: 100%;
	height: 14px;
	background-color: #2daaa6;
}
.section__color_two::after {
	position: absolute;
	content: "";
	top: 0;
	left: 0;
	width: 100%;
	height: 14px;
	background-color: #69639a;
}
.section__color_three::after {
	position: absolute;
	content: "";
	top: 0;
	left: 0;
	width: 100%;
	height: 14px;
	background-color: #9385f5;
}
.company__wizard_logo {
	background-color: #f3f3f3;
}
.company__wizard_logo img {
}
.company__contents {
	padding: 15px;
}
.company_wizard_title {
}
.company_wizard_title h1 {
	text-transform: capitalize;
	font-family: "Poppins-Medium";
	margin: 15px 0px;
	color: #191b20;
}

.company__wizard_text p {
	color: #757679;
	font-family: "Poppins-Regular";
}
.company__wizard_button {
	margin-top: 50px;
	margin-bottom: 10px;
}
.company__wizard_button a {
	background-color: #e43f5a;
	color: #ffffff;
	text-transform: capitalize;
	font-size: 1.5rem;
	font-family: "Poppins-Medium";
	padding: 15px 30px;
	display: inline-block;
	box-shadow: 0px 1px 7px 4px #dfdfdf;
}
/* work with us section 
----------------------------
*/
#work_with_us {
	margin-bottom: 50px;
	position: relative;
}
.work_with_us_content__wrapper {
}

#work_with_us .container {
	position: relative;
}
.work_with_us__section.section__bg_img {
	background-image: url(../img/work_sectionbg_.png);
	background-position: right bottom;
	background-repeat: no-repeat;
}
html[dir="rtl"] .work_with_us__section.section__bg_img {
	background-image: url(../img/work-bg-img.png);
	background-position: left bottom;
	background-repeat: no-repeat;
}
.company_name_title {
	position: absolute;
	right: -54px;
	top: 70px;
	transform: rotate(90deg);
}
html[dir="rtl"] .company_name_title {
	position: absolute;
	top: 58px !important;
	right: unset;
	transform: rotate(90deg);
	left: -51px !important;
}
span.company_name_title h2 {
}
/* project showcase sections 
 ----------------------------------
 */
.project_showcase__section {
	padding: 100px 0px;
}

.project_showcase__section.section_bg_color {
	background-color: #191b20;
}
.single_projects__informations {
	position: relative;
}
.single_projects__informations::before {
	position: absolute;
	content: "";
	bottom: 0;
	left: 0;
	width: 5px;
	height: 87%;
	background-color: #194cd8;
	transform: translate(-25px, 0px);
}
html[dir="rtl"] .single_projects__informations::before {
	position: absolute;
	content: "";
	bottom: 0;
	left: unset;
	right: 0;
	width: 5px;
	height: 87%;
	background-color: #194cd8;
	transform: translate(25px, 0px);
}
.single_projects__informations h2 {
	font-family: "Poppins-Bold";
	color: #ffffff;
}
.single_projects__informations > span {
	margin-right: 15px;
}
.single_projects__informations span {
	display: inline-block;
	vertical-align: middle;
}
.single_projects__informations span p {
	font-family: "Poppins-Regular";
	color: #ffffff;
	text-transform: capitalize;
}
.single_projects__informations p img {
}
.project_show_ticker {
	background-color: #e43f5a;
	color: #ffffff;
	text-transform: capitalize;
	font-size: 1.5rem;
	font-family: "Poppins-Medium";
	padding: 15px 30px;
	display: inline-block;
	position: relative;
	transform: rotate(90deg);
	left: -65px;
}
html[dir="rtl"] .project_show_ticker {
	background-color: #e43f5a;
	color: #ffffff;
	text-transform: capitalize;
	font-size: 1.5rem;
	font-family: "Poppins-Medium";
	padding: 15px 30px;
	display: inline-block;
	position: relative;
	transform: rotate(90deg);
	left: unset;
	right: -65px;
}

/* team member section
 ----------------------------
 */
.team__section {
	padding-bottom: 75px;
	margin-top: 100px;
	margin-bottom: 100px;
	box-shadow: 0px 15px 9px -11px #f8f8f8;
}
.team__section.section_bg_color {
	background-image: url("../img/shape of color.png");
	background-position: top right;
	background-repeat: no-repeat;
	background-size: initial;
}
html[dir="rtl"] .team__section.section_bg_color {
	background-image: url("../img/shape of color.png");
	background-position: top left;
	background-repeat: no-repeat;
	background-size: initial;
}
#team .title__line_color {
	background-color: #fccd2f;
}
.single_team_meber__wrapper {
	box-shadow: 0px 0px 7px 2px #dfdfdf;
	background-color: #ffffff;
}
.hr__line {
	background-color: #d3d3d3;
	height: 1px;
	display: block;
	width: 100%;
	margin: 0px;
}
.team_member__details_area {
}

.team_member__img img {
	width: 100%;
	height: auto;
	overflow: hidden;
	border-radius: 50%;
}
.team_member_details {
}
.team_member__name {
	color: #191b20;
	font-family: "Poppins-Medium";
	margin-bottom: 6px;
}
.team_member__designation {
	color: #191b20;
	font-size: 20px;
	font-family: "Poppins-Regular";
	margin-bottom: 5px;
}
.team_member__experience {
	color: #194cd8;
	margin-bottom: 5px;
	font-family: "Poppins-Regular";
}
.team_member__project_complenation {
	color: #191b20;
	font-family: "Poppins-ExtraLight";
}
.team_member__biography_title {
	color: #191b20;
	font-size: 30px;
	font-family: "Poppins-Medium";
	text-transform: capitalize;
	margin-bottom: 7px;
}
.team_member__biography_content {
	color: #757679;
	font-family: "Poppins-Regular";
	margin-bottom: 5px;
}

/* footer section desing start 
-----------------------
*/

#footer {
	padding-bottom: 50px;
}

.footer_content_wrapper {
}
.footer_content_wrapper span {
	display: inline-block;
	vertical-align: middle;
}
.footer_content_title {
	color: #191b20;
	font-family: "Poppins-SemiBold";
	margin-bottom: 13px;
}
.email__title {
	color: #191b20;
	font-family: "Poppins-Regular";
	margin-bottom: 10px;
}
.email__account a {
	color: #191b20;
	font-family: "Poppins-Regular";
}

.bg_img_1 {
	position: absolute;
	left: 60%;
	transform: translate(-58%, -36%);
	top: 13%;
}

html[dir="rtl"] .bg_img_1 {
	position: absolute;
	left: 40%;
	transform: translate(-58%, -36%);
	top: 13%;
}
.bg_img_2 {
	position: absolute;
	left: 12%;
	top: 69%;
	transform: translate(-74%, 40%);
}
.bg_img_3 {
	position: absolute;
	top: 95%;
	transform: translate(50%, 5%);
	left: 65%;
}
.bg_img_4 {
	position: absolute;
	top: 96%;
	left: 41%;
	transform: translate(15%, -4%);
}
html[dir="rtl"] .bg_img_4 {
	position: absolute;
	top: 96%;
	left: 42%;
	transform: translate(15%, -4%);
}
.bg_img_5 {
	position: absolute;
	top: 88%;
	left: 70%;
	transform: translate(-50%, -50%);
}
html[dir="rtl"] .bg_img_5 {
	position: absolute;
	top: 88%;
	left: 30%;
	transform: translate(-50%, -50%);
}
.bg_img_6 {
	position: absolute;
	left: 50%;
	transform: translate(-50%, 140%);
	top: 100%;
}
.bg_img_7 {
	position: absolute;
	top: 0;
	left: -5%;
	transform: translate(-50%);
}
html[dir="rtl"] .bg_img_7 {
	position: absolute;
	top: 2%;
	left: unset;
	right: -4%;
	transform: translate(-50%, -50%);
}
.bg_img_8 {
	position: absolute;
	top: 15%;
	left: 58%;
	transform: translate(50%, -50%);
}
html[dir="rtl"] .bg_img_8 {
	position: absolute;
	top: 15%;
	left: 37%;
	transform: translate(50%, -50%);
}
.bg_img_9 {
	position: absolute;
	left: 29%;
	transform: translate(-50%);
}
html[dir="rtl"] .bg_img_9 {
	position: absolute;
	right: 29%;
	left: unset;
	transform: translate(-50%);
}
.bg_img_10 {
	position: absolute;
	right: 30px;
	top: 0;
	transform: translate(50%, -50%);
}
html[dir="rtl"] .bg_img_10 {
	position: absolute;
	right: 90%;
	top: 0;
	transform: translate(50%, -50%);
}
.bg_img_11 {
	position: absolute;
	right: 0;
	bottom: 22%;
	transform: translate(-29%, -50%);
}
html[dir="rtl"] .bg_img_11 {
	position: absolute;
	right: 72%;
	bottom: 22%;
	transform: translate(-29%, -50%);
}
.bg_img_12 {
	position: absolute;
	bottom: -11%;
	left: -1%;
	transform: translate(-50%, -50%);
}
html[dir="rtl"] .bg_img_12 {
	position: absolute;
	bottom: -11%;
	left: 100%;
	transform: translate(-50%, -50%);
}
.bg_img_13 {
	position: absolute;
	top: 0%;
	right: 10%;
	transform: translate(-50%, -36%);
}
html[dir="rtl"] .bg_img_13 {
	position: absolute;
	top: 0%;
	right: 85%;
	transform: translate(-50%, -36%);
}
.bg_img_14 {
	position: absolute;
	right: 30%;
	transform: translate(-50%, -0%);
}
html[dir="rtl"] .bg_img_14 {
	position: absolute;
	right: 56%;
	transform: translate(-50%, -0%);
}
.bg_img_15 {
	position: absolute;
	right: 23%;
	top: 38%;
	transform: translate(-50%, -50%);
}
html[dir="rtl"] .bg_img_15 {
	position: absolute;
	right: 70%;
	top: 38%;
	transform: translate(-50%, -50%);
}
.bg_img_16 {
	position: absolute;
	bottom: -16%;
	left: -11%;
	transform: translate(-50%, -50%);
}
html[dir="rtl"] .bg_img_16 {
	position: absolute;
	bottom: -16%;
	left: unset;
	right: -15%;
	transform: translate(-50%, -50%);
}
.bg_img_17 {
	position: absolute;
	right: 0;
	bottom: 0;
	transform: translate(-50%, -50%);
}
html[dir="rtl"] .bg_img_17 {
	position: absolute;
	right: 90%;
	bottom: 0;
	transform: translate(-50%, -50%);
}
.company__section .container-fluid {
	position: relative;
}
.project_showcase__section .container {
	position: relative;
}
.team__section .container {
	position: relative;
}
.single_team_meber__wrapper,
.team_member_biography__wrapper,
.footer_content_wrapper {
	position: relative;
}
.footer__section .container {
	position: relative;
}
/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 320px) {
	.hero_heading {
		font-size: 1.8rem;
	}
	.side__menu_section ul li a {
		font-size: 18px;
	}
	.title__line {
		width: 20px;
	}
	html[dir="rtl"] .title__line {
		width: 20px;
	}

	.single_projects__informations h2 {
		font-size: 50px;
	}
	.section__title h2 {
		font-size: 22px;
	}
	.team_member__img {
		width: 100px;
		height: 100px;
		line-height: 100px;
	}
	.work_with_us_content__wrapper .company__wizard_text {
		padding-right: 49px;
	}
	html[dir="rtl"] .work_with_us_content__wrapper .company__wizard_text {
		padding-left: 49px;
		padding-right: unset;
	}
	.single_team_meber__wrapper {
		padding: 15px;
	}
	.team_member__name {
		font-size: 24px;
	}
	.team_member__designation {
		font-size: 15px;
	}
	.team_member__experience {
		font-size: 13px;
	}
	.team_member__project_complenation {
		font-size: 12px;
	}
	.single_projects__informations span p {
		font-size: 20px;
	}
	.team_member__biography_content {
		font-size: 14px;
	}
	.work_with_us__section.section__bg_img {
		background-size: 46% 19%;
	}
	html[dir="rtl"] .work_with_us__section.section__bg_img {
		background-size: 46% 19%;
	}
	.work_with_us_content__wrapper .section__title h2 {
		font-size: 1.1rem;
	}
	.company_wizard_title h1 {
		font-size: 1.7rem;
	}
	.email__account a {
		font-size: 17px;
	}

	.footer_content_title {
		font-size: 30px;
	}
	.email__title {
		font-size: 25px;
	}
	#footer .section__title h2 {
		font-size: 45px;
	}
}

@media only screen and (min-width: 480px) {
	.hero_heading {
		font-size: 3rem;
	}
	.side__menu_section ul li a {
		font-size: 24px;
	}
	.work_with_us_content__wrapper .company__wizard_text {
		padding-right: 49px;
	}
	html[dir="rtl"] .work_with_us_content__wrapper .company__wizard_text {
		padding-left: 49px;
		padding-right: unset;
	}
	.work_with_us__section.section__bg_img {
		background-size: 46% 19%;
	}
	html[dir="rtl"] .work_with_us__section.section__bg_img {
		background-size: 46% 19%;
	}
	.team_member__biography_content {
		font-size: 20px;
	}
	.single_team_meber__wrapper {
		padding: 25px;
	}
	.team_member__img {
		width: 145px;
		height: 145px;
		line-height: 145px;
	}
	.team_member__name {
		font-size: 36px;
	}
	.team_member__designation {
		font-size: 20px;
	}
	.team_member__experience {
		font-size: 20px;
	}
	.team_member__project_complenation {
		font-size: 16px;
	}
	.single_projects__informations h2 {
		font-size: 100px;
	}
	.footer_content_title {
		font-size: 55px;
	}
	.email__title {
		font-size: 35px;
	}
	.single_projects__informations span p {
		font-size: 30px;
	}
	#footer .section__title h2 {
		font-size: 55px;
	}
}

@media only screen and (min-width: 576px) {
	.hero_heading {
		font-size: 3rem;
	}
	.title__line {
		width: 50px;
	}
	html[dir="rtl"] .title__line {
		width: 50px;
	}
	.section__title h2 {
		color: #162447;
		font-size: 40px;
		font-family: "Poppins-Medium";
	}
	.work_with_us_content__wrapper .section__title h2 {
		font-size: 2rem;
	}
	.work_with_us__section.section__bg_img {
		background-size: 53% 24%;
	}
	html[dir="rtl"] .work_with_us__section.section__bg_img {
		background-size: 53% 24%;
	}
	.work_with_us_content__wrapper .company__wizard_text {
		padding-right: 106px;
	}
	html[dir="rtl"] .work_with_us_content__wrapper .company__wizard_text {
		padding-left: 106px;
		padding-right: unset;
	}
	.company_wizard_title h1 {
		font-size: 1.7rem;
	}
	.team_member__biography_content {
		font-size: 24px;
	}
	#work_with_us {
		padding-bottom: 5px;
	}
	.email__account a {
		font-size: 30px;
	}
}

@media only screen and (min-width: 768px) {
	.hero_heading {
		font-size: 4rem;
	}
	.title__line {
		width: 150px;
	}
	.section__title h2 {
		color: #162447;
		font-size: 40px;
		font-family: "Poppins-Medium";
	}
	.work_with_us__section.section__bg_img {
		background-size: 60% 30%;
	}
	html[dir="rtl"] .work_with_us__section.section__bg_img {
		background-size: 60% 30%;
	}
	#work_with_us {
		padding-bottom: 28px;
	}

	.company__wizard_text p {
		font-size: 1.2rem;
	}
	.work_with_us_content__wrapper .company__wizard_text {
		padding-right: 160px;
	}
	html[dir="rtl"] .work_with_us_content__wrapper .company__wizard_text {
		padding-left: 160px;
		padding-right: unset;
	}
	.work_with_us_content__wrapper .section__title h2 {
		font-size: 2.8125rem;
	}
	.email__account a {
		font-size: 36px;
	}
}

@media only screen and (min-width: 992px) {
	.hero_heading {
		font-size: 4rem;
	}
	.work_with_us__section.section__bg_img {
		background-size: 70% 30%;
	}
	html[dir="rtl"] .work_with_us__section.section__bg_img {
		background-size: 70% 30%;
	}
	.work_with_us_content__wrapper .company__wizard_text {
		padding-right: 160px;
	}
	#work_with_us {
		padding-bottom: 46px;
	}
	html[dir="rtl"] .work_with_us_content__wrapper .company__wizard_text {
		padding-left: 160px;
		padding-right: unset;
	}
	.company_wizard_title h1 {
		font-size: 2.1875rem;
	}
	.company__wizard_text p {
		font-size: 1.5rem;
	}
}

@media only screen and (min-width: 1200px) {
	.hero_heading {
		font-size: 5rem;
	}
	.work_with_us__section.section__bg_img {
		background-size: 70% 43%;
	}
	html[dir="rtl"] .work_with_us__section.section__bg_img {
		background-size: 70% 43%;
	}
	#work_with_us {
		padding-bottom: 100px;
	}
	.work_with_us_content__wrapper .company__wizard_text {
		padding-right: 250px;
	}
	html[dir="rtl"] .work_with_us_content__wrapper .company__wizard_text {
		padding-left: 250px;
		padding-right: unset;
	}
}

@media print,
	(-webkit-min-device-pixel-ratio: 1.25),
	(min-resolution: 1.25dppx),
	(min-resolution: 120dpi) {
	/* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
	*,
	*:before,
	*:after {
		background: transparent !important;
		color: #000 !important; /* Black prints faster */
		-webkit-box-shadow: none !important;
		box-shadow: none !important;
		text-shadow: none !important;
	}

	a,
	a:visited {
		text-decoration: underline;
	}

	a[href]:after {
		content: " (" attr(href) ")";
	}

	abbr[title]:after {
		content: " (" attr(title) ")";
	}

	/*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

	a[href^="#"]:after,
	a[href^="javascript:"]:after {
		content: "";
	}

	pre {
		white-space: pre-wrap !important;
	}
	pre,
	blockquote {
		border: 1px solid #999;
		page-break-inside: avoid;
	}

	/*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

	thead {
		display: table-header-group;
	}

	tr,
	img {
		page-break-inside: avoid;
	}

	p,
	h2,
	h3 {
		orphans: 3;
		widows: 3;
	}

	h2,
	h3 {
		page-break-after: avoid;
	}
}
